<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="row">
        <a  href="/">Home</a>
        {% if user_logged_in %}
            <a  href="/logout">Logout</a>
            <a  href="/data">Users Data</a>
        {% else %}
            <a  href="/login">Login</a>
            <a  href="/register">Register</a>
        {% endif %}
    </div>
    <div>
        <form action="/search" method="post">
            <label>Search</label>
            <input id="search_input" type="text" id="user_name" name="user_name">
            <input type="submit" value="Submit">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
    <table>
        <tr>
            <th colspan="5">Users List</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Ip</th>
            <th>Email</th>
            <th>Illness</th>
        </tr>
        {% for user in users %}
        <tr>
                <td>{{ user['Id'] }}</td>
                <td>{{ user['Username'] }}</td>
                <td>{{ user['Ip'] }}</td>
                <td>{{ user['Email'] }}</td>
                <td>{{ user['Illness'] }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
