<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="row">
            <a  href="/">Home</a>
            {% if user_logged_in %}
                <a  href="/logout">Logout</a>
                <a  href="/data">Users Data</a>
            {% else %}
                <a  href="/login">Login</a>
                <a  href="/register">Register</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Login</h1>
        <form method="post" action="{{ url_for('login') }}">
            <label class="beforeInput" for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label class="beforeInput" for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input id="login" type="submit" value="Login">
        </form>
    </body>
</html>
